/AdopcionPerro/target/
/Ruleta2/target/
/PetShop/target/
/Cine/nbproject/private/
/Cine_1/nbproject/private/
/Cine/build/
/Cine3/nbproject/private/
/Cine3/build/
/Seguros/nbproject/private/
/Seguros/build/
/JavaApplication96/nbproject/private/
/JavaApplication96/build/
/JavaApplication97/nbproject/private/
